.box {
    border-style: solid;
    border-width: 0px;
    text-align: center;
    background-color: #54FF9F;
    /*box-shadow: 1px 3px 5px grey;*/
  }
  .red {
    background-color: #B0171F;
  }
  .white {
    color: white;
  }
  .width-button {
    width: 50px;
    margin-left: 0px;
  }
  .text-middel {
    margin-top: 5px;
    font-size: 20px;
  }
  .red-letter {
    color: red;
  }
  .font-size {
    font-size: 12px;
  }
  .yellowletter {
    color: yellow;
  }
  .greenletter {
    color: green;
  }
  .redletter {
    color: red;
  }
  .image {
    width: 50px;
  }
  .imageCocktail {
    width: 60px;
  }
  .blue {
    color: blue;
  }
  .shadow {
    box-shadow: 3px 3px 5px grey;
  }
  .green {
    background-color: rgba(00, 110, 0, 0.5);
  }
  .yellow {
    background-color: rgba(255, 255, 0, 0.5);
  }
  .red {
    background-color: rgba(255, 00, 00, 0.5);
  }
  .stopSign {
    margin-bottom: 20px;
    text-align: center;
    width: 100px;
    height: 40px;
    background: #323232;
    border-radius: 50px;
    border-color: black;
  }
  .shadow {
    box-shadow: 3px 3px 5px grey;
  }
  
  #redCircle {
    display: none;
  }
  #redCircle:checked + label {
    transform: scale(1.5);
    background-color: #228B22;
  }
  #greenCircle {
    display: none;
  }
  #greenCircle:checked + label {
    transform: scale(1.5);
    background-color: red;
  }
  #yellowCircle {
    display: none;
  }
  #yellowCircle:checked + label {
    transform: scale(1.5);
    background-color: yellow;
  }
  .greyBox220 {
    background-color: #D9D9D9;
    width: 224px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .greyBoxSmall {
    background-color: #D9D9D9;
    width: 110px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .box-white {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
  }
  .top {
    position: absolute;
    z-index: 1;
  }
  .shape {
    width: 250px;
    height: 250px;
    margin-top: 150px;
    align: middle;
    border-radius: 40px;
    background-color: #7FFFD4;
    background-color: #54FF9F;
    background: linear-gradient(-45deg, #00FFFF, #54FF9F);
  }
  .glass1 {
    position: absolute;
    width: 16px;
    height: 220px;
    background-color: white;
    margin-top: 60px;
    margin-left: 20px;
    transform: rotate(20deg);
  }
  .glass2 {
    position: absolute;
    width: 16px;
    height: 180px;
    background-color: white;
    margin-top: 103px;
    margin-left: 122px;
    transform: rotate(33deg);
  }
  .glasstop {
    position: absolute;
    width: 16px;
    height: 135px;
    background-color: white;
    margin-top: 32px;
    margin-left: 111px;
    transform: rotate(-66deg);
  }
  .foam1 {
    position: absolute;
    transform: rotate(20deg);
    background-color: white;
    width: 16px;
    height: 50px;
    margin-top: 100px;
    margin-left: 65px;
  }
  .foam2 {
    position: absolute;
    transform: rotate(33deg);
    background-color: white;
    width: 16px;
    height: 50px;
    margin-top: 126px;
    margin-left: 120px;
  }
  .foambody {
    position: absolute;
    transform: rotate(-65deg);
    background-color: white;
    width: 50px;
    height: 60px;
    margin-top: 107px;
    margin-left: 75px;
  }
  .dot {
    background-color: grey;
  }
  #dot1 {
    display: none;
  }
  #dot1:checked + label {
    transform: scale(1.5);
    background-color: #54FF9F;
  }
  #dot2 {
    display: none;
  }
  #dot2:checked + label {
    transform: scale(1.5);
    background-color: #54FF9F;
  }
  #dot3 {
    display: none;
  }
  #dot3:checked + label {
    transform: scale(1.5);
    background-color: #54FF9F;
  }
  .yellowStar {
    color: rgba(00, 00, 00, 0.4);
  }
  #star1 {
    display: none;
  }
  #star1:checked + label {
    color: yellow;
  }
  #star2 {
    display: none;
  }
  #star2:checked + label {
    color: yellow;
  }
  #star3 {
    display: none;
  }
  #star3:checked + label {
    color: yellow;
  }
  #star4 {
    display: none;
  }
  #star4:checked + label {
    color: yellow;
  }
  #star5 {
    display: none;
  }
  #star5:checked + label {
    color: yellow;
  }
  .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #54FF9F;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 70px;
border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smallerscreens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}






